<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Grafico</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
       <ion-buttons slot="start">
          <ion-back-button defaultHref="/home" text=""></ion-back-button>
        </ion-buttons>
      <ion-title size="large">Grafico</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <canvas #barCanvas></canvas>
  <canvas #lineCanvas></canvas>
  <canvas #pieCanvas></canvas>
  
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Grafico</ion-title>
  </ion-toolbar>
</ion-header>

  <canvas #barCanvas></canvas>
  <canvas #lineCanvas></canvas>
  <canvas #pieCanvas></canvas>


